name: Python application

on:
  push:
    branches: [ master ]
  schedule:
    - cron: "0 14 * * *"

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: Set up Python 3.9
      uses: actions/setup-python@v2
      with:
        python-version: 3.9
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        if [ -f requirements.txt ]; then pip install -r requirements.txt; fi
    - name: run
      env:
        TI_CLIENT_ID: ${{ secrets.TI_CLIENT_ID }}
        TI_SECRET: ${{ secrets.TI_SECRET }}
        TI_CODE: ${{ secrets.TI_CODE }}
        TI_ACCESS_TOKEN: ${{ secrets.TI_ACCESS_TOKEN }}
      run: |
        bash setup_env.sh
        python writer.py